body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.left-side,
.right-side {
    flex: 1;
    padding: 20px;
}

.left-side {
    text-align: center;
}

.right-side {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #90708c; /* Green */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 525px;
}

button:hover {
    background-color: #debfda; /* Darker green */
}

.sign-up-link a {
    color: #007bff; /* Blue */
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}
.right-side img {
    padding: 250px;
    height: 450px;
    border: 1px solid #ccc; /* Add border */
    
}
footer {
    margin-top: 150px;
    background: #fff8f0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    height: 20px;
}

.contact-info {
    margin-top: 10px;
}

.profession-text a{
    text-decoration: none;
    color: #90708c;
}
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Wrapper to contain header, main content */
.wrapper {
    flex: 1;
}

/* Header and Navigation */
header {
    background: #fff8f0;
    color: #303030;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 60px;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #303030;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
    border-bottom: 1px;
    border-bottom: 1px solid #fff8f0; }

.nav-links a:hover {
    border-bottom: 1px solid #575757;
}